@model Livro

<!DOCTYPE html>

<html>
<head>
    <title>Alterar Livros</title>
</head>

<body>

    <h2>Alterar Livros</h2>

    <form asp-action="Alterar" asp-controller="Livro" method="post">
        <fieldset>
            <legend>Alterar Produto</legend>

            <input asp-for="Id" type="hidden" />

            <label asp-for="Nome">Nome: </label>
            <input asp-for="Nome" type="text" placeholder="Nome do Livro" />
            <span asp-validation-for="Nome"></span><br />

            <label asp-for="Autor">Autor: </label>
            <input asp-for="Autor" type="text" placeholder="Autor" />
            <span asp-validation-for="Autor"></span><br />

            <label asp-for="Editora">Editora: </label>
            <input asp-for="Editora" type="text" placeholder="Editora" />
            <span asp-validation-for="Editora"></span><br />

            <label asp-for="NumPag">Número de Páginas: </label>
            <input asp-for="NumPag" type="text" placeholder="Número de Páginas" />
            <span asp-validation-for="NumPag"></span><br />

            <label asp-for="Quantidade">Quantidade: </label>
            <input asp-for="Quantidade" type="text" placeholder="Quantidade" />
            <span asp-validation-for="Quantidade"></span><br />

            <label asp-for="AnoPub">Ano de Publicação: </label>
            <input asp-for="AnoPub" type="text" placeholder="Ano de Publicação" />
            <span asp-validation-for="AnoPub"></span><br />

            <input type="submit" value="Salvar" />
        </fieldset>
    </form>

    </body>
</html>
